my_hours.txt
*.swp
*/*.swp
*/*/*.swp
site/
https:/
sandbox/
_notebooks/
docs/notebooks/*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints 
*/*/.ipynb_checkpoints
__pycache__
.DS_Store
build/
dist/
dLux.egg-info/
docs/notebooks/files
.vscode
.coverage
htmlcov
dLux/dev/tmp
dLux/jordan
